.about-container {
  padding: 50px 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-container h1,
.about-container h2 {
  color: rgb(85, 201, 227);
  margin-top: 20px;
}

.about-container p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.about-container a {
  color: pink;
}

.about-container a:hover {
  color: rgb(255, 105, 180);
  cursor: pointer;
}
