.footer-container {
  background-color: rgb(53, 11, 51);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 1.2rem;
}

.social-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 20px;
  padding: 0;
}

.social-links li {
  cursor: pointer;
}

.social-links li a {
  color: white;
  text-decoration: none;
}

.social-links li a:hover {
  color: rgb(255, 105, 180);
}

.linkedin-icon {
  font-size: 1.2rem;
}

.twitter-icon {
  font-size: 1.2rem;
}

.email-icon {
  font-size: 1.2rem;
}

div.footer-container.light-mode {
  background-color: #f0caca;
  color: rgb(50, 56, 131);
}

div.light-mode .social-links li a {
  color: rgb(50, 56, 131);
}

div.light-mode .social-links li a:hover {
  color: rgb(8, 175, 213);
}
