html,
body {
  height: 100%;
  margin: 0;
}

.search-container {
  padding: 50px 200px;
  min-height: 80vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
}

.search-container h1,
.search-container h2 {
  color: rgb(85, 201, 227);
  margin-top: 20px;
}

.search-container p {
  margin-top: 20px;
}
.search-container input,
.search-container button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  width: 100%;
}

.search-container button {
  background-color: rgb(131, 68, 131);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #700c9a;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.country-info-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #222;
  color: white;
}

.country-info-box h2 {
  color: rgb(85, 201, 227);
  margin-top: 0;
}

.country-info-box ul {
  list-style: none;
  padding: 0;
}

.country-info-box li {
  margin-bottom: 5px;
}

.pink-color {
  color: pink;
  font-weight: bold;
  text-decoration: underline;
}

.pink-color:hover,
.pink-color:focus {
  color: rgb(255, 105, 180);
  text-decoration: underline;
}

.lightblue-color {
  color: rgb(85, 201, 227);
}

.results-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.country-table {
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #222;
  color: white;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-table th {
  background-color: rgb(85, 201, 227);
  color: black;
  padding: 10px;
  text-align: center;
}

.country-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.country-table .info-title {
  font-weight: bold;
}

.search-buttons-div li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.search-buttons-div button {
  background-color: navy;
  border: 1px solid rgb(85, 201, 227);
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search-buttons-div button:hover,
.search-buttons-div button.active {
  background-color: rgb(85, 201, 227);
  color: #222;
  border-color: rgb(85, 201, 227);
}
